# .NET / VS
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VSCode
.idea/
.vscode/

# Logs
*.log

# Secrets / local config
appsettings.Development.json
.env
.env.*

# Angular
vouchershop-fe/node_modules
vouchershop-fe/.angular
vouchershop-fe/dist
